name: Python Tykapp CI/CD Pipeline

on:
  push:
    paths:
      - 'python/**'
      - '.github/workflows/**'
    branches:
      - stories

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      
      - name: Install dependencies
        run: |
          pip install -r python/requirements.txt
      
      - name: Run unit tests
        run: python python/tests.py -v

      - name: Lint code
        run: pylint app.py

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/tykapp:latest .

      - name: Push Docker image to Docker Hub
        run: docker push ${{ secrets.DOCKER_USERNAME }}/tykapp:latest